<% include ../partials/header.ejs %>

<h1><%=venue.name%></h1>
<br>
<li><%=venue.address%></li>
<li><%=venue.image%></li>
<li><%=venue.description%></li>
<li><%=venue.contact%></li>
<li><%=venue.rating%></li>
<li><%=venue.days%></li>
<li><%=venue._id%></li>

<% include ../partials/footer.ejs %>
